    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About me</h2>
                <p>Hi, my name is Gyanaranjan Routaray.I’m a native iOS Developer. I code iOS Apps using Xcode, Objective-C and Swift. <a href="http://startbootstrap.com/template-overviews/grayscale/">the preview page</a>. The theme is open source, and you can use it for any purpose, personal or commercial.</p>
                <p>I’m good at communicating with clients, developers and designers (those with and without technical knowledge). I listen and pride myself on a strong attention to detail. These qualities have helped me
                    to win trust and business from clients. </p>
                <p>I’ve worked on a great variety of <a href="http://gratisography.com/">projects</a>  from freemium and paid apps through to enterprise apps for
                    schools and businesses.</p>
                <p>I love collaborating with talented people and being inspired.</p>
            </div>
        </div>
    </section>
